name: Build
on:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            platform: darwin
            arch: arm64
            npm_config_arch: arm64
          - os: macos-latest
            platform: darwin
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: arm64
            npm_config_arch: arm64
          - os: ubuntu-latest
            platform: linux
            arch: x64
            npm_config_arch: x64
          - os: windows-latest
            platform: win32
            arch: arm64
            npm_config_arch: arm64
          - os: windows-latest
            platform: win32
            arch: x64
            npm_config_arch: x64
    runs-on: ${{ matrix.os }}
    env:
      PIP_ARCH: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - shell: bash
        run: python -m pip install -U pip nox
      - name: System runtime info
        shell: bash
        run: |
          uname -a
          arch
          python -VV
          python -c "import platform; print(platform.platform())"
          python -c "import platform; print(platform.uname())"
          python -m pip debug
      - name: Download python wheels
        shell: bash
        run: |
          nox --session download_wheels
      - name: Bundle python packages
        shell: bash
        run: nox --session setup
      - run: npm install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_arch: ${{ matrix.npm_config_arch }}
      - shell: pwsh
        run: |
          echo "target=${{ matrix.platform }}-${{ matrix.arch }}" >> $env:GITHUB_ENV
          echo "version=$(git describe)" >> $env:GITHUB_ENV
      - run: npx @vscode/vsce package --out ufmt-${{ env.target }}-${{ env.version }}.vsix --target ${{ env.target }}
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ env.target }}
          path: "*.vsix"

  publish-vscode:
    runs-on: ubuntu-latest
    needs: build
    if: success() && startsWith( github.ref, 'refs/tags/' )
    steps:
      - uses: actions/download-artifact@v6
        with:
          merge-multiple: true
          path: dist
      - run: "find dist -iname '*.vsix'"
      - run: "npx @vscode/vsce publish --packagePath $(find dist -iname '*.vsix')"
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          
  publish-ovsx:
    runs-on: ubuntu-latest
    needs: build
    if: success() && startsWith( github.ref, 'refs/tags/' )
    steps:
      - uses: actions/download-artifact@v6
        with:
          merge-multiple: true
          path: dist
      - run: "find dist/ -iname '*.vsix'"
      - run: "find dist/ -iname '*.vsix' | xargs -n1 npx ovsx publish"
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
    
